html, body {margin:0;padding:0;height:100%;}

.backgroundLogo {
    width: 20%;
    position: absolute;
    margin: auto;
    left: 20%;
    right: 0;
    top: 0;
    bottom: 0;
}

.clr {
	clear: both;
}

#chatWrapper {
    width: 80%;
    height: 95%;
    /*max-width: 1400px;*/
    /*max-height: 1000px;*/
    /*min-height: 600px;*/
    /*min-width: 1000px;*/
    margin: auto;
    left: 0;
    right: 0;
    top: 20px !important;
    position: absolute;
    bottom: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    z-index: 10;
    color: black;
    /*box-shadow: #333 0px 0px 5px 1px;*/
}

#topbar{
    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#topbar #info {
    width: 100%;
    height: 100%;
    padding: 20px;
	margin-left: 10px;
}

#topbar h1 {
    float: left;
	font-weight: 300;
	font-size: 25px;
	color: #545454;
}

#midwrapper{
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

#logout {
    font-size:18px;
    cursor: pointer;
}
#logout:hover {
    color: #2c2c2c;
}

#topbar #notification{
    text-align: right;
    float: right;
    padding-right: 20px;
    width: auto;
}

#topbar #notification h3 {
    display: inline-block;
    margin: 0 10px 0 0;
}

#topbar #notification #slider{
    overflow: visible;
    top: 0.4em;
    width: 2.6em;
    height: 0.6em;
	margin-top: 7px;
    border-radius: 1em;
    float: right;
    background: linear-gradient(to left, lightgrey 50%, rgba(51, 204, 255, 0.5) 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    margin-left:10px;

    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

#topbar #notification .random {
    background-position:left bottom !important;
}

#topbar #notification #sliderPosition {
    background: rgb(119, 119, 119) !important;
    width: 17px;
    height: 17px;
    border-radius: 1em;
    cursor: pointer;
    position: relative;
    bottom: 4px;
    left: 0;

    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

#topbar #notification #slider .foo {
    left: 25px;
    /*background: rgba(51, 204, 255, 1) !important;*/
}

#sidebar {
    width: 25%;
    height: 100%;
    float: left;
    background-color: rgba(255,255,255,0.7);
    overflow: auto;
    position: absolute;
}

#sidebar h3 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px ridge lightgrey;
    font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	color: #545454;
}

#sidebar #usersOnline {
    width: 100%;
}

#sidebar #usersOnline h3 {
    width: 75%;
    margin: auto;
    border-bottom: 1px solid lightgrey;
    font-weight: 300;
}

#sidebar #usersOnline h3::before {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: limegreen;
    border-radius: 50%;
    top: 16px;
    position: absolute;
    /*box-shadow: #295629 1px 1px 1px;*/
    animation: onlineblink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes onlineblink {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

#messageWindow {
    width: 75%;
    height: 100%;
    float:right;
    /*overflow: hidden;*/
    overflow-y: auto;
    /*position: relative;*/
}

#messageWindow #allMessages {
    position: relative;
    width: 100%;
    /*top: 100%;*/
    float:right;
    overflow: hidden;
    /*height:inherit;*/
}

#messageWindow #allMessages ol {
    list-style-type:none;
	/*overflow-y: scroll;*/
	/*overflow-x: hidden;*/
	/*max-height: 480px;*/
	/*min-height: 300px;*/
}

#messageWindow #allMessages ol li {
	max-width: 97%;
	word-wrap: break-word;
	color: #545454;
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
}

#messageWindow #allMessages ol li h4{
	font-weight: bold;
}
#messageWindow #allMessages .self {
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

#messageWindow #allMessages .self .balloon {
    position: relative;
    right: 5px;
    margin: 5px 0;
	min-width: 190px;
	max-width: 45%;
    background-color: rgba(111,223,253,1);
    border-radius: 5px;
    padding: 5px 10px;
    word-wrap: break-word;
}

#messageWindow #allMessages .balloon img {
    width:25px;
    height:25px;
    background-position:-72.5px -37.5px;
    background-size:268px 170.5px;
    /*transform: scale(0.4);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*position: absolute;*/
}

#messageWindow #allMessages .self .balloon::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 100%;
    width: 0;
    border-width: 15px 15px 0 0;
    border-style: solid;
    border-color: rgba(111,223,253,1) transparent;
    transform: rotate(270deg);
}

#messageWindow #allMessages h4{
    font-weight: bold;
	float: left;
	width: auto;
	margin-right: 10px;
}

#messageWindow #allMessages .balloon .messageDate{
    font-style: italic;
    font-size: 11px;
    float: right;
	width: 30px;
}

#messageWindow #allMessages .other {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#messageWindow #allMessages .other .balloon {
    position: relative;
    left: 5%;
    margin: 10px 0;
	min-width: 190px;
	max-width: 85%;
    background-color: rgba(152,234,164,0.81);
    border-radius: 5px;
    padding: 5px 10px;
    word-wrap: break-word;
}

#messageWindow #allMessages .other .balloon::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: -15px;
    width: 0;
    border-width: 15px 15px 0 0;
    border-style: solid;
    border-color: rgba(152,234,164,0.81) transparent;
    transform: rotate(180deg);
}

video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#floatclear{clear: both;}

#livetyping {
    font-style: italic;
    position: absolute;
    bottom: 10%;
    width: 75%;
    left: 25%;
    background-color: rgba(225,248,252,0.8);
    z-index: 10;
    padding: 5px;
}

#livetyping span:last-child span {
    animation: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

#livetyping span:last-child span:nth-child(2) {
    animation-delay: .2s;
}

#livetyping span:last-child span:nth-child(3) {
    animation-delay: .4s;
}

#bottombar {
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#media{
    width: 25%;
    height: 100%;
    padding: 18px 25px;
    text-align: center;
    display: inline-block;
	background: white;
    border-bottom-left-radius: 5px;
}
#media h2{
	text-align: left;
	font-size: 12px;
	font-weight: 300;
	color: #545454;
	margin-left: 25px;
}

#media i {
    color: #545454;
	transition: 300ms;
	float: left;
    cursor: pointer;
}

#media:hover i {
	transform: rotate(360deg);
}

#textbar {
    float: right;
    width: 75%;
    height: 100%;
    float:right;
    padding: 1.2% 2%;
    border-bottom-right-radius: 10px;
}

#textbar .openEmoji {
    position: relative;
    top: 10%;
    right: 0.5%;
    margin-top:7px !important;
}

#textbar .openEmoji:hover {
    cursor: pointer;
    /*color: gray;*/
}

#bottombar ul{height: 100%;}
#bottombar ul li{
    list-style: none;
    float:left;
    width: auto;
    height: 100%;
}

#bottombar ul li.talkbox {
    width: calc(100% - 135px);
    background-color: white;
    border-radius: 25px;
}

#bottombar ul li #div-placeholder {
    position: absolute;
    z-index: 0;
    /*color: #009CC6;*/
    color: rgba(44, 43, 45, 0.48);
    padding: 10px 15px;
}

#textbar #messageField {
    width: 100%;
    height: 35px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    color: #444444;
    padding: 10px 15px;
    line-height: 16px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#textbar #messageField:focus {
    outline: none;
}

#textbar ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #777777;
    font-weight: bold;
}
#textbar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #777777;
    font-weight: bold;
    opacity:  1;
}
#textbar ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #777777;
    font-weight: bold;
    opacity:  1;
}
#textbar :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #777777;
    font-weight: bold;
}

#textbar i {
    color: white;
    margin: 10px 11px;
}

.balletje{
    float: left;
    width: 35px;
    height: 35px;
	margin: 0 5px;
    border-radius: 50px;
    background-color: rgba(0,156,198,1);
    cursor: pointer;
}

.balletje:hover {
    background-color: rgba(0,156,198,0.9);
}

@media screen and (min-width: 1400px) {
    * {
        /*font-size: 32px;*/
    }
}

@media screen and (max-width: 1085px) {
    i {
        padding: 5px 0;
        margin: 0;
    }
}

@media screen and (max-width: 935px) {
    i {
        width: 50px;
    }
}

@media screen and (max-width: 785px) {
    i {
        width: 40px;
    }
}

@media screen and (max-width: 650px) {
    i {
        width: 35px;
    }
    #media {
    }
}

:focus{
    outline: none;
}
.slimScroll {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scroll{
    transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scroll{
    opacity: 0.5;
    transition: none;
}

.scroll-bar{
    background-color: #7A8688;
    border-radius: 10px;
}