.backgroundLogo {
    width: 20%;
    position: absolute;
    margin: auto;
    left: 20%;
    right: 0;
    top: 0;
    bottom: 0;
}

#chatWrapper {
    width: 80%;
    height: 95%;
    /*max-width: 1400px;*/
    /*max-height: 1000px;*/
    /*min-height: 600px;*/
    /*min-width: 1000px;*/
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    z-index: 10;
    color: black;
    /*box-shadow: #333 0px 0px 5px 1px;*/
}

#topbar{
    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#topbar #info {
    width: 75%;
    height: 10%;
    position: absolute;
    left: 25%;
    padding: 10px;
}

#topbar h1 {
    display: inline-block;
}

#logout {
    cursor: pointer;
}

#topbar #notification {
    float: right;
    padding: 10px 0;
    position: relative;
    right: 3%;
    width: 28%;
}

#topbar #notification h3 {
    display: inline-block;
}

#topbar #notification #slider{
    overflow: visible;
    position: relative;
    top: 0.4em;
    width: 3em;
    height: 0.8em;
    border-radius: 1em;
    background: rgba(51, 204, 255, 0.5);
    float: right;
}

#topbar #notification .random {
    background-color: black;
    width: 500px;
}

#topbar #notification #sliderPosition {
    /*background: #3f51b5;*/
    background-color: lightgrey;
    width: 25px;
    height: 25px;
    border-radius: 1em;
    cursor: pointer;
    position: relative;
    bottom: 6px;
    left: 0;

    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

#topbar #notification #slider .foo {
    background: #837AFB;
    left: 25px;
}

#topbar #notification #sliderPosition.ng-enter {
    animation: slider_animation 0.5s linear;
    -webkit-animation: slider_animation 0.5s linear;
}

@keyframes slider_animation {
    from { background-color: lightgrey; }
    to { background-color: #3498db; }
}

@-webkit-keyframes slider_animation {
    from { background-color: lightgrey; }
    to { background-color: #3498db; }
}

#sidebar {
    width: 25%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    overflow: auto;
}

#sidebar h3 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px ridge lightgrey;
    font-weight: bold;
}

#sidebar #usersOnline {
    height: 90%;
    width: 100%;
}

#sidebar #usersOnline h3 {
    width: 75%;
    margin: auto;
    border-bottom: 1px solid lightgrey;
    font-weight: 300;
}

#sidebar #usersOnline h3::before {
    content: '';
    display: block;
    width: 0.65em;
    height: 0.65em;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    /*box-shadow: #295629 1px 1px 1px;*/
    animation: onlineblink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes onlineblink {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

#messageWindow {
    width: 75%;
    height: 80%;
    float:right;
    /*overflow: hidden;*/
    overflow-y: auto;
    /*position: relative;*/
}

#messageWindow #allMessages {
    position: relative;
    width: 100%;
    /*top: 100%;*/
    float:right;
    /*height:inherit;*/
}

#messageWindow #allMessages ol {
    list-style-type:none;
}

#messageWindow #allMessages ol li .balloon a {
    color: #039be5;
    font-weight: 500;
}

#messageWindow #allMessages ol li .balloon a:visited {
    color: #039be5;
    font-weight: 500;
}

#messageWindow #allMessages .self {
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

#messageWindow #allMessages .self .balloon {
    position: relative;
    right: 5%;
    margin: 10px 0;
    background-color: rgba(255,255,255,0.7);
    min-width: 20%;
    max-width: 50%;
    border-radius: 5px;
    padding: 5px 10px;
    word-wrap: break-word;
}

#messageWindow #allMessages .self .balloon img {
    transform: scale(0.4);
    /*position: absolute;*/
}

#messageWindow #allMessages .self .balloon::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 100%;
    width: 0;
    border-width: 15px 15px 0 0;
    border-style: solid;
    border-color: rgba(255,255,255,0.7) transparent;
    transform: rotate(270deg);
}

#messageWindow #allMessages h4{
    font-weight: bold;
}

#messageWindow #allMessages span{
    font-style: italic;
    font-size: 0.8em;
    float: right;
    height: 0;
    position: relative;
    bottom: 20px;
}

#messageWindow #allMessages .other {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#messageWindow #allMessages .other .balloon {
    position: relative;
    left: 5%;
    margin: 10px 0;
    background-color: rgba(255,255,255,0.7);
    min-width: 20%;
    max-width: 50%;
    border-radius: 5px;
    padding: 5px 10px;
    word-wrap: break-word;
}

#messageWindow #allMessages .other .balloon::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: -15px;
    width: 0;
    border-width: 15px 15px 0 0;
    border-style: solid;
    border-color: rgba(255,255,255,0.7) transparent;
    transform: rotate(180deg);
}

video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#livetyping {
    font-style: italic;
    position: absolute;
    bottom: 10%;
    width: 75%;
    left: 25%;
    background-color: rgba(225,248,252,0.8);
    z-index: 10;
    padding: 5px;
}

#livetyping span:last-child span {
    animation: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

#livetyping span:last-child span:nth-child(2) {
    animation-delay: .2s;
}

#livetyping span:last-child span:nth-child(3) {
    animation-delay: .4s;
}

#bottombar {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#media{
    width: 25%;
    padding: 10px 0;
    text-align: center;
    display: inline-block
}

#media i {
    color: #555;
    margin: 0 5px;
    width: 60px;
    height: 40px;
    padding: 5px;
}

#media i:hover {
    background-color: #5dc2f1;
    color: white;
    /*width: 60px;*/
    margin: 0 5px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

#textbar {
    position: relative;
    width: 75%;
    height: 100%;
    float:right;
    padding: 1% 2%;
    background-color: #dfdfdf;
    border-bottom-right-radius: 10px;
}

#textbar #openEmoji {
    position: relative;
    top: 10%;
    right: 0.5%;
}

#textbar #openEmoji:hover {
    cursor: pointer;
    color: gray;
}

#textbar #messageField {
    width: 95%;
    height: 100%;
    /*position: relative;*/
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: #444444;
    padding: 10px;
    background-color: white;
    line-height: 16px;
    float:right;
}

#textbar #messageField:focus {
    outline: none;
}

#textbar ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #777777;
    font-weight: bold;
}
#textbar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #777777;
    font-weight: bold;
    opacity:  1;
}
#textbar ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #777777;
    font-weight: bold;
    opacity:  1;
}
#textbar :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #777777;
    font-weight: bold;
}

@media screen and (min-width: 1400px) {
    * {
        font-size: 32px;
    }
}

@media screen and (max-width: 1085px) {
    i {
        padding: 5px 0;
        margin: 0;
    }
}

@media screen and (max-width: 935px) {
    i {
        width: 50px;
    }
}

@media screen and (max-width: 785px) {
    i {
        width: 40px;
    }
}

@media screen and (max-width: 650px) {
    i {
        width: 35px;
    }
    #media {
        height: 20%;
    }
}

:focus{
    outline: none;
}
.slimScroll {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scroll{
    transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scroll{
    opacity: 0.5;
    transition: none;
}

.scroll-bar{
    background-color: #7A8688;
    border-radius: 10px;
}