<img class="backgroundLogo" src="../images/logo.png" alt="Logo chatbuddy's">

<div id="chatWrapper">

    <div id="topbar">
        <div id="info">
            <h1>{{username}} <span id="logout" ng-click="logout()"><i class="fa fa-lock"></i></span></h1>
            <div id="notification">
                <h3>Notificaties</h3>
                <div id="slider" ng-class="{random: enableNotifications}">
                    <div id="sliderPosition" ng-class="{foo: enableNotifications}" ng-click="changeSlider()"></div>
                </div>
            </div>
        </div>
    </div>
<section id="midwrapper">
    <div id="sidebar">
        <h3>Beschikbare chatbuddys</h3>
        <div id="usersOnline" class="slimScroll">
            <div ng-repeat="user in usersOnline | orderBy: 'username'">
                <span class="loginAnimate"></span><h3>{{user.username}}</h3>
            </div>
        </div>
    </div>

    <div id="messageWindow" class="mCustomScrollbar" data-mcs-theme="minimal-dark">
        <div id="allMessages">
            <ol>
                <li ng-repeat="message in messages | orderBy: date: true">
                    <div ng-class=message.from>
                        <div class="balloon">
                            <h4>{{message.author}}</h4>
                            <span class="messageDate">{{message.date}}</span><div class="clr"></div>
                            <span ng-show="message.body" ng-bind-html="trustAsHtml(message.body)">{{message.body}}</span>
                            <a ng-show="message.filePath" ng-href="{{message.filePath}}" target="_self" download>{{message.fileName}}</a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>
    <div id="livetyping" ng-show="usersTyping.length">
        <span ng-repeat="user in usersTyping">
            {{user.username}}{{$last ? '' : ($index==usersTyping.length-2) ? ' and ' : ', '}}
        </span>
        <span ng-show="usersTyping.length === 1">is typing</span>
        <span ng-show="usersTyping.length > 1">are typing</span>
        <span class="dotanimate">
            <span>.</span> <span>.</span> <span>.</span>
        </span>
    </div>

    <div id="bottombar">
        <div id="media">
<Br>
            <!--<i class="fa fa-gear"></i><h2>Opties</h2>-->
            <input type="file" id="target" hidden onchange="confirmupload(this.files)">
        </div>
        <div id="textbar">
            <ul>
                <li id="openEmoji">
                    <div class="balletje" id="verzend"><i class="fa fa-smile-o" class="openEmoji"></i></div>
                </li>
                <li class="talkbox">
                    <div id="div-placeholder">Write a message...</div>
                    <div id="messageField" contenteditable placeholder="Write a message..." ng-keyup="update($event)" ng-keydown="preventEnter($event)" ng-model="message"></div>
                </li>
                <li>
                    <div class="balletje" id="bellen"><i class="fa fa-phone" ng-click="requestMicrophone()"></i></div></li>
                <li>
                    <div class="balletje" id="bijlage"><i class="fa fa-paperclip" ng-click="openFile()"></i></div>
                </li>
            </ul>
        </div>

    </div>

</div>