<img class="backgroundLogo" src="../images/logo.png" alt="Logo chatbuddy's">

<div id="chatWrapper">

    <div id="topbar">
        <div id="info">
            <h1>{{username}}</h1>
            <div id="notification">
                <h3>Enable notifications</h3>
                <div id="slider">
                    <div id="sliderPosition" ng-class="{foo: bar}" ng-click="changeSlider()"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar">
        <h3>Online:</h3>
        <div id="usersOnline" class="slimScroll">
            <div ng-repeat="user in usersOnline track by $index">
                <h3>{{user}}</h3>
            </div>
        </div>
    </div>

    <div id="messageWindow" class="slimScroll">
        <div id="allMessages">
            <ol>
                <li ng-repeat="message in messages | orderBy: 'date'">
                    <div ng-class=message.self>
                        <div class="balloon">
                            <h4>{{message.author}}</h4>
                            <span>{{message.date}}</span>
                            <p>{{message.body}}</p>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div id="livetyping" ng-show="userstyping.length">
        <span ng-repeat="user in userstyping track by $index">
            {{user}}
        </span>
        <span class="dotanimate"> is typing <span>.</span> <span>.</span> <span>.</span></span>
    </div>

    <div id="bottombar">
        <div id="media">
            <i ng-class="fa_icon" ng-click="requestMicrophone()"></i>
            <i class="fa fa-video-camera fa-2x" ng-click="requestCamera()"></i>
            <i class="fa fa-paperclip fa-2x" ng-click="openFile()"></i>
            <input type="file" id="target" hidden fileread="file" />
        </div>
        <div id="textbar">
            <input type="text" placeholder="Write a message..." ng-keyup="send($event)" ng-model="message">
        </div>
    </div>

</div>