<div class="wrapper">
    <div class="container">
        <img class="logo" src="../images/logo.png" alt="Logo chatbuddy's">
        <h1>De ultieme plek om te chatten met je buddy's!</h1>
        <h2>Filesharing, emoticons en chatten met je beste buddy's op één plek, wat wil je nog meer?</h2>

        <form class="form">
            <input type="text" placeholder="Gebruikersnaam" ng-model="username">
            <button type="submit" id="login-button" ng-click="login()">Log in</button>
        </form>
    </div>
</div>